---
import PageLayout from "@/layouts/PageLayout.astro";
import type { Page } from "@/types";
import notFoundImage from "@/assets/404-not-found.webp";
import { Image } from "astro:assets";

const page: Page = {
  title: "404: page not found",
  description: "404: page not found",
  author: "default", // Add the author property
};
---

<PageLayout page={page} hasSidebar={false} hasHero={false}>
  <div class="grid grid-cols-3 h-screen">
    <div class="flex items-center justify-center">
      <Image src={notFoundImage} alt="404" class="w-full h-full object-cover" />
    </div>
    <div class="flex items-center justify-center">
      <div class="text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
        <p class="mb-4 text-3xl font-bold text-gray-700 md:text-4xl dark:text-gray-200 z-10 drop-shadow-[3px_-2px_0px_white] dark:drop-shadow-[3px_-2px_0px_black]">
          Error: 404 Page Not Found!
        </p>
        <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
          The page is gone
        </p>
        <a href="/" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 rounded-lg text-sm px-4 py-2 text-center my-4 shadow-lg shadow-primary-800/50 transition">
          Back to Home
        </a>
        <br />
        <button id="backward" class="text-sm text-primary-600 dark:text-primary-500">
          Or return to the previous page
        </button>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <Image src={notFoundImage} alt="404" class="w-full h-full object-cover transform scale-x-[-1]" />
    </div>
  </div>
</PageLayout>

<script>
  const backwardBtn = document.querySelector("#backward");
  if (backwardBtn) {
    backwardBtn.addEventListener("click", () => {
      window.history.back();
    });
  }
</script>
